orjson
ursina

# later dependencies for server
fastapi
starlite


# datasets online

for train schedule -> https://www.kaggle.com/datasets/arihantjain09/indian-railways-latest?select=train_schedule.csv
for station, trains and schedule -> https://www.kaggle.com/datasets/sripaadsrinivasan/indian-railways-dataset?select=stations.json


